body {
    background-image: url("image/Green and Blue Modern Minimalist Zoom Virtual Background (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background image fixed */
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    margin-top: 50px;
}

.col-md-4 img {
    width: 200px;
    height: auto;
    border: 5px solid goldenrod;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.table td {
    padding: 10px;
}

.row #social img {
    width: 50px;
    height: auto;
    border: 3px solid goldenrod;
    border-radius: 50%;
    display: block;
    margin: 5px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    color: white; /* Set footer text color to white */
}
.nav-link {
    color: white; /* Set navigation link color to white */
}
